<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App_creat_profesionell_cv"
        tools:targetApi="31">
        <activity
            android:name=".M_LettersDesMotivation.Chiropractor"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesMotivation.Chef"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesMotivation.Cashier"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesMotivation.CaseManager"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesMotivation.Caregiver"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesMotivation.Careers_Advisor"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesMotivation.Business_Support_Manager"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesMotivation.Business_Analyst"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesMotivation.Bookkeeper"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesMotivation.Bid_Writer"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesMotivation.Bartender"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesMotivation.Barista"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesMotivation.Bank_Manager"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesMotivation.Banker"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesMotivation.Babysitter"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesMotivation.Automotive_Sales_Manager"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesMotivation.Autocentre_Manager"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesMotivation.Author_Assistant"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesMotivation.Attorney"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesMotivation.Assistant_Principal"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesMotivation.Assistant_Buyer"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesMotivation.Artist"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesMotivation.Art_Teacher"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesMotivation.Architect"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesMotivation.Analyst"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesMotivation.Air_Traffic_Controller"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesMotivation.Admissions_Counselor"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesMotivation.Administrator"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesMotivation.Admissions_Officers"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesMotivation.Actor"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesMotivation.Accounts_Paybale"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesMotivation.Accounting_Manager"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesMotivation.Accounting_Intern"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesMotivation.Accountant"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesMotivation.Account_Manager"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesMotivation.Account_Executive"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesMotivation.Acadimic_Tutor"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesMotivation.Acadimic_Coordinator"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesMotivation.Acadimic_Coach"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesMotivation.Acadimic_Advisor"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesDémission.Web_Designer"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesDémission.Senior_Assistant_Accountant"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesDémission.Sales_Support"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesDémission.Deputy_Manager_HR"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesDémission.Sales_Manager_and_Marketing"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesDémission.Lecture_Resignation"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesDémission.Board_Of_Industry_Resignation"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesDémission.Administrative_Assistant"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesDémission.Assistant_Manager_Of_Operation"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesDémission.Director_Resignation"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesDémission.Marketing_Manager"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesDémission.Marketing_Manager_With_Reasons"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesDémission.Retirement_Resignation"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesDémission.Senior_Sales_Executive_Resignation"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesDémission.Technical_Executive_Resignation"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesDémission.Writer_Resignation_Letter"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesDémission.Doctor_Resignation"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesDémission.Assistant_Sales_Manager_Resignation"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesDémission.Personal_Reason_Resignation"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesDémission.Employee_Resignation"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesDémission.Email_Resignation"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesDémission.New_Job_Resignation"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesDémission.Medical_Assistant_Resignation"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesDémission.Sample_2_Immediate_Resignation"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesDémission.Sample_1_Immediate_Resignation"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesDémission.Bank_Employee_Resignation"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesDémission.Content_Creator_Resignation"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesDémission.Data_Analyst_Resignation"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesDémission.Customer_Service_Manager_Resignation"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesDémission.Analyst_Resignation"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesDémission.Accountant_Resignation"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesDémission.Promotion_Letter_of_Resignation"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesDémission.Career_Change_Resignation"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesDémission.Church_Resignation"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesDémission.Police_Resignation"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesDémission.Board_Resignation"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesDémission.Nurse_Resignation"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesDémission.Teacher_Resignation"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesDémission.Sample_3_Professional_Resignation"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesDémission.Sample_2_Professional_Resignation"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesDémission.Sample_1_Professional_Resignation"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesDémission.Formal_Resignation"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesDémission.Sample_2_Simple_Resignation"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesDémission.Sample_1_Simple_Resignation"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesDémission.Sample_2_Short_Resignation"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesDémission.Sample_1_Short_Resignation"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesDémission.Sample_1_One_Month_Notice"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesDémission.Sample_3_Two_Week_Notice"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesDémission.Sample_2_Two_Week_Notice"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesDémission.Sample_1_Two_Week_Notice"
            android:exported="false" />
        <activity
            android:name=".M_LettersDesDémission.One_Week_Notice_Sales_Executive"
            android:exported="false" />
        <activity
            android:name=".M_LetterDesPromorion.Salary_Review_Account_Executive"
            android:exported="false" />
        <activity
            android:name=".M_LetterDesPromorion.Managers_Promotion"
            android:exported="false" />
        <activity
            android:name=".M_LetterDesPromorion.Sales_representative_promotion"
            android:exported="false" />
        <activity
            android:name=".M_LetterDesPromorion.Editor_Promotion"
            android:exported="false" />
        <activity
            android:name=".M_LetterDesPromorion.Enveronmental_Solutions_Surpervisor"
            android:exported="false" />
        <activity
            android:name=".M_LetterDesPromorion.Project_Head_Promotion"
            android:exported="false" />
        <activity
            android:name=".M_LetterDesPromorion.Salary_Hike_Sample_2"
            android:exported="false" />
        <activity
            android:name=".M_LetterDesPromorion.Salary_Hike_Sample"
            android:exported="false" />
        <activity
            android:name=".M_LetterDesPromorion.Senior_Manager_Promotion"
            android:exported="false" />
        <activity
            android:name=".M_LetterDesPromorion.Marketing_Head_Promotion"
            android:exported="false" />
        <activity
            android:name=".M_LetterDesPromorion.Years_Experience_Job_Promotion"
            android:exported="false" />
        <activity
            android:name=".M_LetterDesPromorion.Software_Develepement"
            android:exported="false" />
        <activity
            android:name=".M_LetterDesPromorion.Supervisor_Promotion_and_Salary_Hike"
            android:exported="false" />
        <activity
            android:name=".M_LetterDesPromorion.Assistant_Department_Head_Promotion"
            android:exported="false" />
        <activity
            android:name=".M_LetterDesPromorion.Sample_3_Job_Promotion"
            android:exported="false" />
        <activity
            android:name=".M_LetterDesPromorion.Sample_2_Job_Promotion"
            android:exported="false" />
        <activity
            android:name=".M_LetterDesPromorion.Sample_1_Job_Promotion"
            android:exported="false" />
        <activity
            android:name=".M_LetterDesPromorion.Six_Month_Review"
            android:exported="false" />
        <activity
            android:name=".M_LetterDesPromorion.Research_Manager_Promotion"
            android:exported="false" />
        <activity
            android:name=".ContentOfCV.M20"
            android:exported="false" />
        <activity
            android:name=".ContentOfCV.M19"
            android:exported="false" />
        <activity
            android:name=".ContentOfCV.M18"
            android:exported="false" />
        <activity
            android:name=".ContentOfCV.M17"
            android:exported="false" />
        <activity
            android:name=".ContentOfCV.M16"
            android:exported="false" />
        <activity
            android:name=".ContentOfCV.M15"
            android:exported="false" />
        <activity
            android:name=".ContentOfCV.ContentOfInformationCv"
            android:exported="false" />
        <activity
            android:name=".ContentOfCV.M14"
            android:exported="false" />
        <activity
            android:name=".ContentOfCV.M13"
            android:exported="false" />
        <activity
            android:name=".ContentOfCV.M12"
            android:exported="false" />
        <activity
            android:name=".ContentOfCV.M11"
            android:exported="false" />
        <activity
            android:name=".ContentOfCV.M10"
            android:exported="false" />
        <activity
            android:name=".ContentOfCV.M9"
            android:exported="false" />
        <activity
            android:name=".ContentOfCV.M8"
            android:exported="false" />
        <activity
            android:name=".ContentOfCV.M7"
            android:exported="false" />
        <activity
            android:name=".ContentOfCV.M6"
            android:exported="false" />
        <activity
            android:name=".ContentOfCV.M5"
            android:exported="false" />
        <activity
            android:name=".ContentOfCV.M4"
            android:exported="false" />
        <activity
            android:name=".ContentOfCV.M3"
            android:exported="false" />
        <activity
            android:name=".ContentOfCV.M2"
            android:exported="false" />
        <activity
            android:name=".ContentOfCV.M1"
            android:exported="false" />
        <activity
            android:name=".ReadBooksActivity"
            android:exported="false" />
        <activity
            android:name=".BooksActivity"
            android:exported="false" />
        <activity
            android:name=".SectionOfCV.InformationAdditionnelleActivity"
            android:exported="false" />
        <activity
            android:name=".SectionOfCV.InfoProjetActivity"
            android:exported="false" />
        <activity
            android:name=".SectionOfCV.ExperinceActivity"
            android:exported="false" />
        <activity
            android:name=".ShowDocument.ShowDocumentActivity"
            android:exported="false" />
        <activity
            android:name=".SectionOfCV.InfoEducationActivity"
            android:exported="false" />
        <activity
            android:name=".SectionOfCV.InfoPersonnelleActivity"
            android:exported="false" />
        <activity
            android:name=".ContentOfCV.PDFCV"
            android:exported="false" />
        <activity
            android:name=".ContentOfCV.MainActivity"
            android:exported="false" />
        <activity
            android:name=".Letters.LetterDePromotion"
            android:exported="false" />
        <activity
            android:name=".Letters.LetterDeDimidion"
            android:exported="false" />
        <activity
            android:name=".Letters.letterDeMotivation"
            android:exported="false" />
        <activity
            android:name=".ReadQuestionsInterviewsActivity"
            android:exported="false" />
        <activity
            android:name=".QuestionForEnterviewActivity"
            android:exported="false" />
        <activity
            android:name=".ModelsOfCV.ModelsActivity"
            android:exported="false" />
        <activity
            android:name=".SettingActivity"
            android:exported="false" />
        <activity
            android:name=".AboutActivity"
            android:exported="false" />
        <activity
            android:name=".DashBoardActivity"
            android:exported="false" />
        <activity
            android:name=".LoginAndCreatAccount.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginAndCreatAccount.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>