<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App_creat_profesionell_cv"
        tools:targetApi="31">
        <activity
            android:name=".ContentOfCV.M15"
            android:exported="false" />
        <activity
            android:name=".ContentOfCV.ContentOfInformationCv"
            android:exported="false" />
        <activity
            android:name=".ContentOfCV.M14"
            android:exported="false" />
        <activity
            android:name=".ContentOfCV.M13"
            android:exported="false" />
        <activity
            android:name=".ContentOfCV.M12"
            android:exported="false" />
        <activity
            android:name=".ContentOfCV.M11"
            android:exported="false" />
        <activity
            android:name=".ContentOfCV.M10"
            android:exported="false" />
        <activity
            android:name=".ContentOfCV.M9"
            android:exported="false" />
        <activity
            android:name=".ContentOfCV.M8"
            android:exported="false" />
        <activity
            android:name=".ContentOfCV.M7"
            android:exported="false" />
        <activity
            android:name=".ContentOfCV.M6"
            android:exported="false" />
        <activity
            android:name=".ContentOfCV.M5"
            android:exported="false" />
        <activity
            android:name=".ContentOfCV.M4"
            android:exported="false" />
        <activity
            android:name=".ContentOfCV.M3"
            android:exported="false" />
        <activity
            android:name=".ContentOfCV.M2"
            android:exported="false" />
        <activity
            android:name=".ContentOfCV.M1"
            android:exported="false" />
        <activity
            android:name=".ReadBooksActivity"
            android:exported="false" />
        <activity
            android:name=".BooksActivity"
            android:exported="false" />
        <activity
            android:name=".SectionOfCV.InformationAdditionnelleActivity"
            android:exported="false" />
        <activity
            android:name=".SectionOfCV.InfoProjetActivity"
            android:exported="false" />
        <activity
            android:name=".SectionOfCV.ExperinceActivity"
            android:exported="false" />
        <activity
            android:name=".ShowDocument.ShowDocumentActivity"
            android:exported="false" />
        <activity
            android:name=".SectionOfCV.InfoEducationActivity"
            android:exported="false" />
        <activity
            android:name=".SectionOfCV.InfoPersonnelleActivity"
            android:exported="false" />
        <activity
            android:name=".ContentOfCV.PDFCV"
            android:exported="false" />
        <activity
            android:name=".ContentOfCV.MainActivity"
            android:exported="false" />
        <activity
            android:name=".Letters.LetterDePromotion"
            android:exported="false" />
        <activity
            android:name=".Letters.LetterDeDimidion"
            android:exported="false" />
        <activity
            android:name=".Letters.letterDeMotivation"
            android:exported="false" />
        <activity
            android:name=".ReadQuestionsInterviewsActivity"
            android:exported="false" />
        <activity
            android:name=".QuestionForEnterviewActivity"
            android:exported="false" />
        <activity
            android:name=".ModelsOfCV.ModelsActivity"
            android:exported="false" />
        <activity
            android:name=".SettingActivity"
            android:exported="false" />
        <activity
            android:name=".AboutActivity"
            android:exported="false" />
        <activity
            android:name=".DashBoardActivity"
            android:exported="false" />
        <activity
            android:name=".LoginAndCreatAccount.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginAndCreatAccount.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>